html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  letter-spacing: 1px;
}

@media (max-width: 460px) {
  body {
    font-size: 10px;
  }
}

.app {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: auto;
  gap: 30px;
  position: relative;
  /* display: flex;
  flex-grow: 1;
  gap: 30px; */
}

@media (max-width: 1100px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 860px) {
  .app {
    grid-template-columns: 1fr;
  }
}

.container {
  border-radius: 4em;
  width: 24em;
  padding: 4em;
  background-color: #2a2a2a;

  /* position: absolute;
  left: 0;
  top: 0; */
}
.container.list {
  width: 32em;
  padding: 0;
}

.table-container {
  padding: 4em;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 2em;
  mix-blend-mode: difference;
}

.logo-image {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
form select {
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid grey;
}

option {
  color: #2a2a2a !important;
  font-size: 0.8rem;
}

/* Za pomembnost - barve */
.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100px;
}
.visoko {
  background-color: rgb(239, 42, 42);
}
.srednje {
  background-color: #fec157;
}
.nizko {
  background-color: #c1c1c1;
}

.list {
  border: 1px solid #2a2a2a;
  border-radius: 4em;
  background-color: #f3f3f3;
  overflow: hidden;
}

table {
  border-spacing: 0;
  width: 100%;
  text-align: left;
  padding-bottom: 2em;
}

.table-header {
  position: sticky;
  top: 0;
  /* background-color: #f3f3f3; */
}

table td {
  border-bottom: 1px solid #e8e8e8;
  border-collapse: separate;
  padding: 15px 0;
}

table th {
  border-bottom: #d7d7d7 1px solid;
  padding-bottom: 5px;
}

.margin-left {
  text-align: right;
}
.delete {
  cursor: pointer;
}
.checkbox {
  margin-left: auto;
  height: 2px;
  width: 10px;
  background-color: #2a2a2a;
}

.button {
  margin: 2em 0;
  padding: 1em;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.btn-disabled {
  background-color: #ffffff38;
  color: #d7d7d7;
}

.btn-delete {
  border: none;
  display: inline-block;

  margin-left: 70%;
  cursor: pointer;
  color: #2a2a2a;
}

.sort-print {
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 0 0 2em 2em;
  padding: 4em;
  text-align: center;
}

.sort-print h2 {
  padding-bottom: 0.5em;
}

.shopping-list {
  color: #fff;
}
