body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  letter-spacing: 1px;
}

@media (max-width: 460px) {
  body {
    font-size: 10px;
  }
}

.app {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
  /* width: 50rem; */
  position: relative;
}

@media (max-width: 1100px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 860px) {
  .app {
    grid-template-columns: 1fr;
  }
}

.form-container {
  border-radius: 4em;
  background-color: #2a2a2a;
  /* height: 32rem; */
}

.form {
  display: flex;
  flex-direction: column;
  padding: 4em;
}
.form input,
form select {
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid grey;
}

option {
  color: #2a2a2a !important;
  font-size: 0.8rem;
}

/* Za pomembnost - barve */
.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100px;
}
.visoko {
  background-color: rgb(239, 42, 42);
}
.srednje {
  background-color: #fec157;
}
.nizko {
  background-color: #c1c1c1;
}

.list {
  border-radius: 4em;
  background-color: #f3f3f3;
  overflow: hidden;
}

table .table-body {
  height: 6em;
  overflow: hidden;
}

table {
  padding: 4em;
  border-spacing: 0;
  width: 100%;
  text-align: left;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
}

/* .v-divider td::after {
  display: block;
  width: 2px;
  height: 5px;
  background-color: #2a2a2a;
} */

table tr td {
  padding: 0.5em 0;
}
table th {
  border-bottom: #d7d7d7 1px solid;
  padding-bottom: 5px;
}

.margin-left {
  text-align: right;
}
.delete {
  cursor: pointer;
}
.checkbox {
  margin-left: auto;
  height: 2px;
  width: 10px;
  background-color: #2a2a2a;
}

.button {
  margin: 2em 0;
  padding: 1em;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.btn-disabled {
  background-color: #ffffff38;
  color: #d7d7d7;
}

.btn-delete {
  border: none;
  display: inline-block;
  height: 0.6em;
  margin-left: 70%;
  cursor: pointer;
  color: #2a2a2a;
}

.sort-print {
  background-color: #2a2a2a;
}

.sort-print {
  color: #fff;
  padding: 2em;
  text-align: center;
}
